<!DOCTYPE html>
<html>
  <head>
    <title>Diamond Generator</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link async rel="stylesheet" href="./material.orange-red.min.css" />
    <script defer src="./material.min.js"></script>
    <script src="./vue.min.js"></script>
    <script async src="./generate.js"></script>
    <script async defer src="./main.js"></script>
    <link rel="stylesheet" href="./index.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"><a href="./index.html">Diamond Generator</a></span>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="card demo-card-wide mdl-card mdl-shadow--2dp" id="interface">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Question Generator</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div>
              <div class="mdl-card__title-text"><h6>Number Of Questions</h6></div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" v-model="l1">
                <label class="mdl-textfield__label">Level 1</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" v-model="l2">
                <label class="mdl-textfield__label">Level 2</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" v-model="l3">
                <label class="mdl-textfield__label">Level 3</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" v-model="l4">
                <label class="mdl-textfield__label">Level 4</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
              </div>
            </div>
            <div>
              <div class="mdl-card__title-text"><h6>Numbers</h6></div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" v-model="minNum">
                <label class="mdl-textfield__label">Minimum Number</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" v-model="maxNum">
                <label class="mdl-textfield__label">Maximum Number</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
              </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="button_save">Save Setting</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="button_load">Load Setting</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="generate">Generate</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="button_print_question" v-bind:class="{'mdl-button--disabled': notGenerated}">Print Questions</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="button_print_answer" v-bind:class="{'mdl-button--disabled': notGenerated}">Print Answers</button>
            </div>
          </div>
        </div>
        <footer class="mdl-mini-footer" id="footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Diamond Generator</div>
              <ul class="mdl-mini-footer__link-list">
                <li><a href="./license.html">License</a></li>
              </ul>
            <p class="mdl-typography--font-light copyright">Copyright Jiahao Kuang, 2018. Licensed under MIT license</p>
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>