html{
    margin: 0;
}
body{
    margin: 0;
    text-align: center
}
#sheet{
    overflow: hidden;
    width: 700px;
    display: inline-block;
    margin-top: 50px;
}
.box{
    width: 120px;
    height: 120px;
    margin: 10px;
    float:left;
    background-image: url('./diamond.svg');
    position: relative;
}
.box p {
    width: 30px;
    height: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    
}
.box_a{
    top: 50px;
    left: 15px;
}
.box_b{
    top: 50px;
    right: 15px;
}
.box_c{
    top: 20px;
    left: 45px;
}
.box_d{
    bottom: 20px;
    left: 45px;
}